
<main class="main" >
  <div class="content1" >
    <div >
        <mat-form-field appearance="fill" class="code">
            <mat-label>Web Service Address</mat-label>
            <input [(ngModel)]="webAddress"  matInput placeholder="Example input">
          </mat-form-field>

          <mat-form-field appearance="fill" class="code">
            <mat-label>Code</mat-label>
            <input [(ngModel)]="apiCode"  matInput placeholder="Example input">
          </mat-form-field>

          <mat-form-field appearance="fill" class="code">
            <mat-label>Web Call</mat-label>
            <input [(ngModel)]="webCall"  matInput placeholder="Example input">
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="webseviceSubmit()">
            <mat-icon>send</mat-icon>
            Submit
          </button>
      
          <mat-spinner   *ngIf="isLoading"></mat-spinner>
          <mat-form-field appearance="fill" class="code">
            <mat-label>Response</mat-label>
            <textarea [(ngModel)]="webServiceResponse"  rows=10 matInput placeholder="Example input"></textarea>
          </mat-form-field>
    </div>
  </div>
</main>

<router-outlet />
