
.main{
    height: 100%; width: 100%; 
}
.header-container{

  height: 10%; 
  //background-color: #24d600; 
  margin : 1%;


}
.header{

  display: flex; 
  //background-color: #00bcd4; 
  justify-content: space-between;
  

}

.header-left {

}

.header-right {
   margin-left: auto; /* This will push the item to the right */
}


.content1{
    height: 80%; width: 80%; margin-left: 10%; background-color: antiquewhite;
}

.code {
   width:  80%;
   margin-left: 10%;
}

/* @media (min-width: 768px) {
    .code {
      width: 50%; /* or any appropriate width 
    }
} */

.sub-header{

  display: flex; 
  /* background-color: #00bcd4;  */
  /* justify-content: space-between; */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%;

  justify-content: flex-end;
}

.sub-header-left {

}

.sub-header-right {
   /* margin-left: auto; /* This will push the item to the right */ */
}

.done-icon {
    color: green; /* Sets the color */
    /* font-size: 48px; /* Sets the size */ */
}